apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: auth
  name: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - image: europe-central2-docker.pkg.dev/sleepr-417301/auth/production:1.0.1
        name: auth
        env:
        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: mongodb
              key: connectionString
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt
              key: jwtSecret
        - name: TCP_PORT
          value: "3002"
        - name: HTTP_PORT
          value: "3003"
        - name: JWT_EXPIRATION
          value: "3600"
        - name: SWAGGER_URI
          value: "/docs/auth"
        ports:
        - containerPort: 3002 # TCP
        - containerPort: 3003 # HTTP

